/* ---------- OVERLAY ---------- */
.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(6px);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ---------- ECG ---------- */
.ecg-wrapper {
  width: 360px;
  height: 80px;
  margin-bottom: 16px;
}

.ecg {
  width: 100%;
  height: 100%;
}

.ecg-line {
  fill: none;
  stroke: #e11d48;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: ecgMove 1.6s linear infinite;
  filter: drop-shadow(0 0 6px rgba(225, 29, 72, 0.8));
}

@keyframes ecgMove {
  to {
    stroke-dashoffset: 0;
  }
}


/* ---------- TEXT ---------- */
.loader-text {
  font-size: 15px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 14px;
}



