/* ================= LOGIN PAGE ================= */

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.login-box {
  background: white;
  border-radius: 20px;
}


/* ================= LOGO ================= */

.logo {
  width: 140px;
  margin-bottom: 20px;
}

/* ================= TITLE ================= */

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #000;
}

/* ================= MICROSOFT BUTTON ================= */

.ms-login-btn {
  width: 100%;
  padding: 14px;

  border-radius: 10px;
  border: none;

  background-color: #2563eb;
  color: #ffffff;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.ms-login-btn:hover {
  background-color: #1e4fd8;
}

/* ================= OPTIONAL ================= */

.forgot-btn {
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  margin-top: 18px;
  font-size: 14px;
}
