.profile-container {
  padding: 40px;
  transition: margin-left 0.3s;
}

.profile-container.shifted {
  margin-left: 250px;
}

.profile-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #121212;
}

.profile-subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.profile-card {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
 
 
  background: rgba(255, 255, 255, 0.78);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);


  border: 1px solid rgba(255, 255, 255, 0.35);

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.info-label {
  font-weight: 600;
  color: #555;
}

.info-value {
  font-weight: 600;
  color: #222;
}

.email {
  color: #0066cc;
}

.edit-link {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border: none;
  background: #f0f7ff;
  color: #005fcc;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.edit-link:hover {
  background: #e0f0ff;
}

.delete-btn {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  background: #d9534f;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.download-btn {
  width: 100%;
  margin-top: 14px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #0b5ed7;
  background: #f0f6ff;
  border: 1.5px solid #0b5ed7;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.25s ease;
}

.download-btn:hover {
  background: #0b5ed7;
  color: #ffffff;
  box-shadow: 0px 6px 18px rgba(11, 94, 215, 0.25);
  transform: translateY(-1px);
}

.download-btn:active {
  transform: scale(0.98);
}


.delete-btn:hover {
  background: #c9302c;
}

